body {
	font-family: 'Open Sans', sans-serif;
	color: $text-color;
	font-size: .8em;
}

h1, h2, h3 {
	// &::after {
	// 	content: " ";
	// 	background: $main-color;
	// 	display: block;
	// 	width: 100px;
	// 	height: 3px;
	// 	margin-top: 6px;
	// }
}

h1 {
	font-size: 8em;
	letter-spacing: -3px;
}

h1, h2, h3,h4, h5, h6, button, input[type=submit] {
	font-family: 'Open Sans Condensed', sans-serif;
	color: $text-color;
	//text-transform: uppercase;
}

p {
	margin-bottom: 1.6em;
}

p, li {
	line-height: 1.6em;
}
